body {
    margin: 0;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
}

.background-container {
    display: flex;
    height: 100%;
    padding: 0;
}

.background-container-1 {
    width: 40%;
    height: 100%;
}

.background-container-2 {
    width: 60%;
    height: 100%;
}

.background-container-1 div {
    background: url(assets/background-8.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.background-container-2 div {
    background: url(assets/background-1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.main-container {
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.main-container > section {
}

.main-container-1 {
    width: 100%;
    height: 80%;
    display: flex;
}

.main-container-2 {
    width: 100%;
    height: 20%;
    display: flex;
}

.main-container-1-1 {
    width: 50%;
    height: 100%;
}

.main-container-1-2 {
    width: 50%;
    height: 100%;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: 50%;
    height: 50%;
}

.grid-item-background-1 {
    background: url(assets/background-3.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid-item-background-2 {
    background: url(assets/background-2.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid-item-background-3 {
    background: url(assets/background-4.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.grid-item-background-4 {
    background-color: darkorange;
    width: 100%;
    height: 100%;
}

.grid-item-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.grid-item-background-1 .grid-item-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-container {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.option-container button {
    width: 100%;
    padding: 18px 10px;
}

.option-container > div {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white-separator {
    width: 32px;
    height: 1px;
    background-color: white;
}

.option-container div span {
    color: white;
}

.grid-item-2-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.text-container {
    width: 90%;
    color: white;
    margin-bottom: 8px;
}

.text-container-title {
    margin: 0 0 8px;
}

.text-container-description {
    margin: 0;
    font-size: 12px;
}

.main-container-1-2-content {
    width: 100%;
    height: 100%;
}

.main-container-1-2-content .text-container {
    margin-top: 24px;
    margin-left: 24px;
}

.lorem-index {
    color: white;
    font-size: 10px;
    width: fit-content;
    margin-bottom: 40px;
}

.lorem-index h3 {
    width: 100%;
    margin: 0;
}

.lorem-index h3::after {
    content: " ";
    display: inline-block;
    height: 1px;
    width: 70%;
    background-color: white;
}

.main-container-1-2-content button {
    margin-top: 64px;
    padding: 16px 24px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.index-container {
    width: 50%;
    height: 100%;
}

.index-container-background {
    width: 100%;
    height: 100%;
    background: url(assets/background-5.jpg) no-repeat center;
    background-size: cover;
}

.index-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.landscape-container {
    width: 50%;
    height: 100%;
    display: flex;
}

.landscape-item {
    width: 50%;
    height: 100%;
}

.landscape-item-1 {
    width: 100%;
    height: 100%;
    background: url(assets/background-6.jpg) no-repeat center;
    background-size: cover;
}

.landscape-item-2 {
    width: 100%;
    height: 100%;
    background: url(assets/background-7.jpg) no-repeat center;
    background-size: cover;
}