body {
    margin: 0px;
    height: 100vh;
}

.background-container {
    display: flex;
    height: 100%;
    position: relative;
}

.background-container-1 {
    background: url(assets/background-8.jpg) no-repeat center; 
    background-size: cover;
    width: 40%;
    height: 100%;
}

.background-container-2 {
    background: url(assets/background-1.jpg) no-repeat center; 
    background-size: cover;
    width: 60%;
    height: 100%;
}

main {
    position: absolute;
    height: 90%;
    width: 80%;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
}

.main-container-1 {
    display: flex;
    width: 100%;
    height: 80%;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
}

.grid-item {
    width: 45%;
    max-width: 50%;
    padding: 0 0 8px 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.grid-item-1 {
    background: url(assets/background-3.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.option-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.option-container button {
    width: 100%;
    padding: 18px 10px;
}

.option-container > div {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.white-separator {
    width: 32px;
    height: 1px;
    background-color: white;
}

.option-container div span {
    color: white;
}

.grid-item-2-button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.grid-item-2 {
    background: url(assets/background-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-item-3 {
    background: url(assets/background-4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.grid-item-4 {
    background-color: darkorange;
}

.grid-item .text-container {
    color: white;
    max-width: 80%;
}

.grid-item .text-container-description {
    font-size: 11px;
    margin: 0px;
    width: 100%;
}

.text-container-title {
    margin-bottom: 8px;
}

.description-container {
    min-width: 50%;
    padding: 20px 0px 0px 40px;
}

.description-container .text-container {
    color: white;
    width: 100%;
}

.description-container .text-container-title {
    margin-top: 0px;
}

.description-container .text-container-description {
    font-size: 14px;
}

.lorem-index {
    color: white;
    font-size: 10px;
    width: fit-content;
    margin-bottom: 40px;
}

.lorem-index h3 {
    width: 100%;
    margin: 0;
}

.lorem-index h3::after {
    content: " ";
    display: inline-block;
    height: 1px;
    width: 70%;
    background-color: white;
}

.description-container button {
    padding: 16px 24px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.main-container-2 {
    display: flex;
    width: 100%;
    height: 20%;
}

.index-container {
    min-width: 50%;
    height: 100%;
    background: url(assets/background-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.index-container .lorem-index {
    margin: 0px 16px;
}

.landscape-container {
    min-width: 50%;
    height: 100%;
    display: flex;
}

.landscape-item {
    width: 50%;
    height: 100%;
}

.landscape-item-1 {
    background: url(assets/background-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.landscape-item-2 {
    background: url(assets/background-7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}