body {
    margin: 0px;
}

main {
    background: url(assets/background-img.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.main-overlay-banner {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: relative;
}

.text-banner {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    font-size: 44px;
    font-weight: lighter;
}

.arrow-banner {
    position: absolute;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
}

