body {
    margin: 0px;
}

.main-banner {
    background: url(assets/background-img.jpeg) no-repeat center center fixed; 
    background-size: cover;
    height: 100vh;
    position: relative;
}

.main-overlay-banner {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}

.banner-text {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 54%;
    width: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    font-size: 44px;
    font-weight: lighter;
} 

.banner-arrow {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%);
}
