body {
    margin: 0px;    
}

h1, h2, p {
    font-family: "Open Sans";
}

.main-header {
    text-align: center;
}

.image-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 225px;
}

.image-container:hover .image-overlay-container {
    display: block;
}

.image-container:hover .arrow-container {
    display: block;
}

.grid-1-container {
    background-image: url(assets/grid-1.jpeg);
}
.grid-2-container {
    background-image: url(assets/grid-2.jpeg);
}
.grid-3-container {
    background-image: url(assets/grid-3.jpeg);
}
.grid-4-container {
    background-image: url(assets/grid-4.jpeg);
}
.grid-5-container {
    background-image: url(assets/grid-5.jpg);
}
.grid-6-container {
    background-image: url(assets/grid-6.jpeg);
}

.image-overlay-container {
    width: 95%;
    height: 95%;
    background-color: #FF2700;
    opacity: 0.8;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.text-container {
    color: white;
    position: absolute;
    bottom: 14px;
    left: 16px;
}

.title-container {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}

.description-container {
    margin: 0px;
    font-size: 12px;
    font-size: 10px;
}

.arrow-container {
    background-color: white;
    display: none;
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

.arrow {
    width: 20px;
    height: 20px;
    stroke-width: 3px;
}

@media only screen and (min-width: 540px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 0 auto;
        max-width: 1200px;
        height: 650px;
        align-items: center;
    }

    .image-container {
        height: 100%;
    }
}